.list{
	margin-top:95px; 
	float: left;
	background-color: black;
	width: 700px;
	padding: 15px 25px;
	border:1px solid #1B1B1B;
	border-radius: 15px;
}
.list h2{
	float: left;
	color: white;
	font-family: times;
	margin-top: 5px;
	margin-bottom: 0px;
	text-shadow: 1px 1px 2px black;
}
.list table{
	float: left;
	color: white;
	width: 650px;
	margin-top: 10px;
	background-color: black;
	border-spacing: 6px;
	border-collapse: collapse;
	border-bottom:1px solid #1B1B1B;
	box-shadow: 0px 0px 3px #1B1B1B inset;
}
.list article{
	text-align: left;
	margin:0px;
	font-size: 14px;
}
.list td{
	font-family: arial;
	text-align: center;
	border-bottom: 1px dashed #1B1B1B;
	padding: 3px 5px;
}
.list img{
	float: left;
	width: 90px;
	height: 90px;
	margin: 0px;
}
.list input{
	text-align: center;
	float: right;
	margin:0px 3px;
	width: 40px;
	height: 16px;
	border:none;
	border-radius: 5px;
}
.list input:focus{
	outline: none;
}
.list span{
	float: right;
	text-align: right;
	margin:0px;
}
.list .s1{
	font-size: 16px;
	font-weight: bold;
}
.list .s2{
	font-size: 14px;
	color: #719999;

}
.plus,.minus{
	position: absolute;
	text-align: center;
	width: 20px;
	height: 20px;
	border:1px solid white;
	border-radius: 50%;
	background-color: grey;
	margin-left: 110px;
}
.minus:hover{
	background-color: red;
}
.plus:hover{
	background-color: red;
}
.minus{
	margin-top:19px;
}
.sum{
	float: right;
	width: 270px;
	margin-top:95px;
	color: white;
	border:1px solid #1B1B1B;
	border-radius: 15px;
	padding:15px;
	background-color: black;
	font-family: arial;
}
.sum h2{
	float: left;
	color: white;
	font-family: times;
	margin-top: 5px;
	margin-bottom: 0px;
	text-shadow: 1px 1px 2px black;
}
.sum article{
	float: left;
	font-size:12px;
	line-height: 20px;
}
button{
	border: 1px solid #265526;
	border-radius: 6px; 
	background-image: url("../img/btn_background.png");
	color: white;
	font-weight: bold;
	margin: 20px 20px;
	width: 200px;
	height: 35px;
	box-shadow: 2px 2px 5px #004400 inset;
}
button:focus{
	outline: none;
}
.sum table{
	float: left;
	margin: 15px 0px;
}
.cl1,#cl1{
	font-size: 14px;
	padding-bottom:10px; 
}
.cl2,#cl2,.cl3,#cl3{
	font-size: 14px;
	color:#30FF00;
}

#cl1,#cl2,#cl3,#cl4{
	text-align: right;
}
.cl3,#cl3{
	padding-bottom: 20px;
}
.cl4,#cl4{
	font-size: 20px;
	color:#30FF00;
}
.s2:hover{
	color: red;
	text-decoration: underline;
}