*{
	box-sizing: border-box;
}
html{
	background-image: url("../img/wallpaper.png");
}
body{
	font-family: Impact;
	width: 1000px;
	height: 900px;
	margin: auto;
}
header h1{
	color:#00DD00;
	margin: 0px 50px;
	text-shadow: 1px 1px 3px black;
}
header{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 2;
}

header .header{
	float: left;
	background-color: black;
	width: 100%;
	padding-bottom: 15px; 
	padding-right: 50px;
}

header a{
	font-family: arial;
	font-size: 1.2em;
	text-decoration: none;
}

header ul li a:hover {color: white;}
header a:visited{color:#656465;}
header a:link{color:#656465;}

header ul{
	float: right; 
	list-style-type: none;
	margin: 0px;
	padding:0px;
}
header ul li{
	margin:0 18px;
	display: inline;
	padding:0px 4px;
}
header .img{
	float: right;
	font-family: arial;
	font-weight: bold;
	color: white;
	border:1px solid white;
	padding:2px 5px;
	border-radius: 3px;
}
header img{
	transform:scale(1.5);
	margin-right: 25px; 
}
footer{
	position:fixed;
	font-family: arial;
	display: block;
	left:0;
	bottom: 0;
	right: 0;
	background-color: black;
	color: #666;
	font-size: 14px;
	text-align: center;
	text-shadow: 1px 1px 3px black;
	padding-right: 30px;
	
}
footer .seperate{
	color:white;
	font-weight: bold;
}
footer p{
	margin: 0px;
}