.box{
	float: left;
	margin: 95px 130px;
}
.cate{
	float: left;
	display: inline-block;
	width: 695px;
	height: 310px;
	margin:3px 2px 20px 2px;
	color: white;
	cursor: pointer;
}
.cate:hover{
	outline:2px solid white;
}
.cate h2{
	font-family:  Verdana;
	margin:20px;
}
.cate article{
	margin-top: 10px; 
	font-family: arial;
	width: 100%;
	font-weight: bold;
	color: white;
	text-align: center;
	opacity: 0;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	background-color: grey;
	transition:0.8s ease-in;
	line-height: 1.2;
}
.cate article p{
	margin: 2px;
}
.cate article:hover{
	opacity: 1;
}
#cate1{
	background-image: url("../img/laptop.jpg");
}
#cate2{
	background-image: url("../img/printer.jpg");
}
#cate3{
	background-image: url("../img/ink.jpg");
}
#cate4{
	background-image: url("../img/accessories.jpg");
}
.cate a{
	text-decoration: none;
}
.cate a:link{
	color:white;
}
.cate a:visited{
	color:#656465;
}
.cate a:hover{
	color: #00DD00;
}